.search-bar {
    align-items: center;
    height: 50px;
    border-radius: 10px;
    background: var(--search-bar-bg);

    &__input {
        padding-left: 15px;
        height: 100%;
        flex: 1;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;

        &::placeholder {
            color: #9e9da8;
            font-weight: 400;
        }
    }

    &__submit {
        padding: 0 15px;
        height: 100%;
    }
}
