.top-act, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
}
@media (max-width: 991.98px) {
  .header {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  position: relative;
  padding: 30px 0;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .top-bar {
    padding: 20px 0;
  }
}
@media (max-width: 767.98px) {
  .top-bar {
    justify-content: space-between;
    padding: 16px 0;
  }
}

.navbar {
  margin-left: 129px;
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: 28px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    inset: 0 50% 0 0;
    z-index: 9;
    margin-left: 0;
    padding: 20px 0;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--sidebar-bg);
    translate: -100%;
    transition: translate 0.5s;
  }
  .navbar.show {
    translate: 0;
    box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
  }
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
.navbar__close-btn {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar__close-btn {
    display: block;
    padding: 10px 40px;
  }
}
@media (max-width: 575.98px) {
  .navbar__close-btn {
    padding: 0px 20px 10px;
  }
}
.navbar__overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: 0.5s;
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    z-index: 8;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}
.navbar__list {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    overscroll-behavior: contain;
    height: calc(100% - 40px);
  }
}
@media (max-width: 767.98px) {
  .navbar__list {
    height: calc(100% - 140px);
  }
}
@media (max-width: 767.98px) {
  .navbar__list {
    height: calc(100% - 124px);
  }
}
.navbar__item:hover .dropdown {
  display: block;
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
  }
  .navbar__item:hover .dropdown {
    display: none;
  }
  .navbar__item--active .dropdown {
    display: block !important;
  }
}
.navbar__link {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 6px;
  padding: 0 15px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
@media (max-width: 991.98px) {
  .navbar__link {
    padding: 0 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 150% */
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  .navbar__link {
    padding: 0 20px;
    height: 44px;
  }
}
.navbar__arrow {
  margin-top: 3px;
}
@media (max-width: 991.98px) {
  .navbar__arrow {
    rotate: -90deg;
    transition: rotate 0.3s;
  }
}
@media (max-width: 991.98px) {
  .navbar__item--active .navbar__arrow {
    rotate: 0deg;
  }
}

.top-act {
  margin-left: auto;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .top-act {
    margin-left: 0;
  }
}
.top-act__group {
  align-items: center;
  min-width: 50px;
  height: 50px;
  border-radius: 0.8rem;
  background: var(--top-act-group-bg-color);
  box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
}
.top-act__btn {
  padding: 13px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.top-act__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.top-act__separate {
  width: 1px;
  height: 30px;
  background: var(--top-act-group-separate);
}
@media (max-width: 991.98px) {
  .top-act__group--single {
    display: none;
  }
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 0.8rem;
  background: url(<path-to-image>) lightgray -205.145px -22.64px/819.939% 546.626% no-repeat, #dfd2fa;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.nav-btn {
  height: 50px;
  align-items: center;
  padding: 0 40px;
}
@media (max-width: 575.98px) {
  .nav-btn {
    padding: 0 20px;
  }
}
.nav-btn__title, .nav-btn__qnt {
  margin-left: 16px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.nav-btn__qnt {
  margin-left: auto;
}

.footer {
  padding: 50px 0;
  background: var(--footer-bg-color);
}
.footer__row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.3fr 1.5fr;
  gap: 60px;
}
@media (max-width: 991.98px) {
  .footer__row {
    grid-template-columns: 1fr;
  }
}
.footer__logo {
  font-size: 2.2rem;
  font-weight: 500;
}
.footer__help-text, .footer__desc {
  font-size: 14px;
}
.footer__desc {
  margin-top: 30px;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  .footer__desc {
    width: min(400px, 100%);
  }
}
.footer__help-text {
  margin-top: 40px;
}
.footer__form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 0;
}
.footer__input {
  width: 100%;
  height: 46px;
  padding: 8px 12px;
  font-size: 1.5rem;
  border: 2px solid #d2d1d6;
  border-radius: 6px;
}
@media (max-width: 991.98px) {
  .footer__input {
    width: 40%;
  }
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
}
.footer__list {
  margin-top: 18px;
}
.footer__link, .footer__text {
  font-size: 14px;
  line-height: 1.4;
  padding: 8px 0;
}
.footer__link {
  display: inline-block;
}
.footer__link:hover {
  color: #0071dc;
}
.footer__label {
  margin-top: 20px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.footer__copyright {
  font-size: 1.4rem;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  filter: grayscale(50%);
}
.footer__social-link--facebook {
  background: #4863a9;
}
.footer__social-link--youtube {
  background: #ff0000;
}
.footer__social-link--tiktok {
  background: #000000;
}
.footer__social-link--twitter {
  background: #4999e6;
}
.footer__social-link--linkedin {
  background: #2f71ab;
}
.footer__social-icon {
  width: 14px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%);
}

/*# sourceMappingURL=index.css.map */
